**/run*/
**/latest
**/latest/
**/*autocheck_top_tb.v
**/fabric_bitstream.bit
**/fabric_independent_bitstream.xml
**/SDC_analysis/
**/work/
**/*.vcd
**/transcript
**/*.wlf
**/3x3*/
**/test-run-files/*
**/900-misc-scripts/test/*
**/mlp_1.blif
**/*.bkp
**/*bkp/*
**/*.b
test/*